.cache
public
node_modules
!yarn.lock

site/content

# Non zero-install (https://next.yarnpkg.com/getting-started/qa/#which-files-should-be-gitignored)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
