/* Vertical line */
.history:before {
  @apply absolute block top-0 bottom-0 bg-line;
  left: 50%;
  width: 2px;
  transform: translateX(-1px);
  content: "";
}

/* Copy on the right */
.history-entry:nth-child(odd) {
  @apply self-end pl-12;
}

/* Copy on the left */
.history-entry:nth-child(even) {
  @apply self-start pr-12 text-right;
}

.dot-bg {
  @apply transform -translate-y-1/2;
  top: 50%;
}

/* Dot positioning when copy on the right */
.history-entry:nth-child(odd) .dot-bg {
  @apply left-0 -translate-x-1/2;
}

/* Dot positioning when copy on the left */
.history-entry:nth-child(even) .dot-bg {
  @apply right-0 translate-x-1/2;
}

/* Different colors on the first item */
.history-entry:first-child .dot-bg {
  @apply bg-front;
}

.history-entry:first-child .dot {
  @apply bg-lead;
}
