.form-control {
  @apply w-full text-front px-4 py-3 font-header font-semibold text-sm outline-none leading-normal;
}

.form-input {
  @apply form-control bg-back-light transition-opacity duration-150;
}

.form-input:focus {
  @apply opacity-75;
}

.input-range {
  @apply appearance-none block w-full outline-none mb-1 h-4 bg-transparent;
}

.input-range:focus {
  @apply outline-none;
}

.input-range::range-track {
  @apply appearance-none w-full bg-back cursor-pointer outline-none;
  height: 2px;
}

.input-range::range-thumb {
  @apply appearance-none rounded-full w-4 h-4 bg-lead cursor-pointer outline-none;
  /* autoprefixer: ignore next */
  -webkit-transform: translateY(-6.5px);
  -moz-transform: translateY(0);
}
